


.imgBlock {
    width: 270;
    height: 480;
    outline-style: dashed;
    outline-color: black;
    margin: auto;
    margin-top: 20;
    overflow-anchor: none;
}


.tiktok {
    object-fit:contain;
    width: 270;
    height: 480;
}